#form-register {
    margin: 1em;
}

legend {
    margin: 1em;
    border: 1em;
    border-radius: 0.5em;
    background-color: green;
    color: white;
}

span {
    margin: 0.9em 0 0.1em 0;
    display: block;
}

input[type='submit']{
    -webkit-appearance: none;
    background-color: teal;
    width: 15em;
    height: 3em;
    margin: 1em 0 0 0;
    font-size: large;
    box-shadow: 4px 5px 10px #666;
}

label input {
    width: 90%;
    max-width: 500px;
    padding: 0.3em 0.3em 0.3em 1.5em;
    background-image: url(ico_validation.png);
    background-repeat: no-repeat;
    background-position: 1px -13px;
}

input:focus {
    background-position: 1px -13px;
}

input:required:invalid {
    background-position: 1px -61px;
}

input:focus:invalid {
    background-position: 1px -113px;
}

input:required:valid{
    background-position: 1px -163px;
}

.sliderContainer {
    display: flex;
    justify-content: center;
}

.flexslider {
    width: 25em;
}

.flex-caption {
    bottom: 50px;
    position: relative;
    display: block;
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.4);
    text-align: center;
}

.socialIcons {
    position: relative;
    float: right;
    right: 300px;
}

.socialIcons > a {
    background-image: url(socialSprites.png);
    display: inline-block;
    width: 60px;
    height: 50px;
}

.google {
    background-position: 60px 0;
}

.facebook {
    background-position: 120px 0;
}

.twitter {
    background-position: 180px 0;
}

.youtube {
    background-position: 240px 0;
}

.socialIcons > a:hover {
    background-position-y: -50px;
}

.tweetFeeds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.twitter-timeline {
    flex-shrink: 1;
    margin-left: 2%;
}

.fab {
    font-size: 2em;
    margin: 2px;
}

.fab:hover {
    color: skyblue;
}

.footer {
    display: flex;
    justify-content: center;
}