#form-register {
    margin: 1em;
}

legend {
    margin: 1em;
    border: 1em;
    border-radius: 0.5em;
    background-color: green;
    color: white;
}

span {
    margin: 0.9em 0 0.1em 0;
    display: block;
}

input[type='submit']{
    -webkit-appearance: none;
    background-color: teal;
    width: 15em;
    height: 3em;
    margin: 1em 0 0 0;
    font-size: large;
    box-shadow: 4px 5px 10px #666;
}

label input {
    width: 90%;
    max-width: 500px;
    padding: 0.3em 0.3em 0.3em 1.5em;
    background-image: url(ico_validation.png);
    background-repeat: no-repeat;
    background-position: 1px -13px;
}

input:focus {
    background-position: 1px -13px;
}

input:required:invalid {
    background-position: 1px -61px;
}

input:focus:invalid {
    background-position: 1px -113px;
}

input:required:valid{
    background-position: 1px -163px;
}