.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#inputForm {
  width: 30%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
  align-content: center;
}
.text,.submit {
  height: 50px;
  width: 200px;
}

.submitResponse {
  width: 100%;
  margin: 100px 0 0 0;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}

div[class*="flexDiv"] {
  width: 250px;
  height: 100px;
  margin: 0 50px 0 0;
  background-color: blue;
  justify-content: space-evenly;
}

@keyframes colorAndFlexGrow {
  from { background-color: red;
  flex-grow: 6;}
  to { background-color: violet;}
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: skyblue;
}

@media all and ( max-width: 1500px ) {
  .menu {
    justify-content: space-around;
  }
}

@media all and ( max-width: 1100px ) {
  .menu {
    flex-direction: column;
  }
}
